<div class="panel-group" id="mountain-cams" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mountain-cams-whistler">
      <h5 class="panel-title my-auto">
        <a class="pl-4 collapsed" role="button" data-toggle="collapse" data-parent="#mountain-cams" href="#collapse-mountain-cams-whistler" aria-expanded="false" aria-controls="collapse-mountain-cams-whistler">
          Whistler Cam
        </a>
      </h5>
    </div>
    <div id="collapse-mountain-cams-whistler" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mountain-cams-whistler">
      <div class="panel-body d-flex justify-content-center p-2 cam-bg">
        <%= render partial: "lifts/webcam_partials/whistler_cam" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mountain-cams-blackcomb">
      <h5 class="panel-title my-auto">
        <a class="pl-4 collapsed" role="button" data-toggle="collapse" data-parent="#mountain-cams" href="#collapse-mountain-cams-blackcomb" aria-expanded="false" aria-controls="collapse-mountain-cams-blackcomb">
          Blackcomb Cam
        </a>
      </h5>
    </div>
    <div id="collapse-mountain-cams-blackcomb" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mountain-cams-blackcomb">
      <div class="panel-body d-flex justify-content-center p-2 cam-bg">
        <%= render partial: "lifts/webcam_partials/blackcomb_cam" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mountain-cams-village">
      <h5 class="panel-title my-auto">
        <a class="pl-4 collapsed" role="button" data-toggle="collapse" data-parent="#mountain-cams" href="#collapse-mountain-cams-village" aria-expanded="false" aria-controls="collapse-mountain-cams-village">
          Whistler Village Cam
        </a>
      </h5>
    </div>
    <div id="collapse-mountain-cams-village" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mountain-cams-village">
      <div class="panel-body d-flex justify-content-center p-2 cam-bg">
        <%= render partial: "lifts/webcam_partials/village_cam" %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mountain-cams-peak">
      <h5 class="panel-title my-auto">
        <a class="pl-4 collapsed" role="button" data-toggle="collapse" data-parent="#mountain-cams" href="#collapse-mountain-cams-peak" aria-expanded="false" aria-controls="collapse-mountain-cams-peak">
          Whistler Peak Cam
        </a>
      </h5>
    </div>
    <div id="collapse-mountain-cams-peak" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mountain-cams-peak">
      <div class="panel-body d-flex justify-content-center p-2 cam-bg">
        <%= render partial: "lifts/webcam_partials/whistler_peak_cam" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mountain-cams-seventh">
      <h5 class="panel-title my-auto">
        <a class="pl-4 collapsed" role="button" data-toggle="collapse" data-parent="#mountain-cams" href="#collapse-mountain-cams-seventh" aria-expanded="false" aria-controls="collapse-mountain-cams-seventh">
          7th Heaven Cam
        </a>
      </h5>
    </div>
    <div id="collapse-mountain-cams-seventh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mountain-cams-seventh">
      <div class="panel-body cam-bg d-flex justify-content-center p-2">
        <%= render partial: "lifts/webcam_partials/seventh_cam" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mountain-cams-stake">
      <h5 class="panel-title my-auto">
        <a class="pl-4 collapsed" role="button" data-toggle="collapse" data-parent="#mountain-cams" href="#collapse-mountain-cams-stake" aria-expanded="false" aria-controls="collapse-mountain-cams-stake">
          Snow Stake
        </a>
      </h5>
    </div>
    <div id="collapse-mountain-cams-stake" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mountain-cams-stake">
      <div class="panel-body cam-bg d-flex justify-content-center p-2">
        <%= render partial: "lifts/webcam_partials/snow_stake_cam" %>
      </div>
    </div>
  </div>
</div>