<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center mx-auto" id="exampleModalLongTitle">Welcome to LiveLiftInfo!</h5>
      </div>
      <div class="modal-body text-justify">
        Creating an account will allow you to personalize a list of your favorite chairlifts as well as set text message alerts to be dispatched when a chairlift opens. Signing up requires a valid email address and US or Canadian mobile number. Text message alerts are automatically dispatched by a virtual US-based phone number. There is no cost to utilize the site but your mobile plan's standard rate will apply to receive messages <br><br>
        
        <span>
          <%= link_to("Click here for more information on how this site works", about_index_path) %>. 
        </span>
      </div>
      <div class="modal-footer d-block">
        <a href="#" class="btn btn-success w-100 mx-0 mb-2" role="button" data-dismiss="modal">Sign Up</a>
        <a href="/" class="btn btn-danger w-100 mx-0" role="button">Return to Home Page</a>
      </div>
    </div>
  </div>
</div>

<div class="m-2">
  <h2>Sign Up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true ,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :phone,
                  required: true,
                  hint: "Enter a valid CA or US mobile number, eg +1-XXX-XXXX",
                  input_html: { autocomplete: "phone" } %>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions mb-2">
      <%= f.button :submit, "Submit", class: "btn btn-dark" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
