<div class="container">
  <div class="row">
    <div class="col">
      <h4>Avalanche Canada Sea To Sky Forecast</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      Issued: <%= @avalanche.date_issued.strftime("%B %d, %Y") %>
    </div>
    <div class="col">
      Valid Until: <%= @avalanche.valid_until.strftime("%B %d, %Y") %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="/assets/general_icons/avalanche_icon.png" alt="avalanche icon" class="avalanche-image">
    </div>
    <div class="col">
      <div class="row">
        Highlights: <%= @avalanche.highlights.html_safe %>
      </div>
      <div class="row">
        Report Confidence: <%= @avalanche.confidence %>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-sm table-borderless">
      <thead>
        <tr>
          <th scope="col" class="avalanche-th" id="avalanche-th" colspan="2">
            Danger Ratings:
          </th>
        </tr>
      </thead>

      <% 3.times do |day| %>
        <thead>
          <tr>
            <th scope="col" class="avalanche-th" colspan="2">
              <%= string_to_date(@avalanche.danger_ratings[day]["date"]) %>
            </th>
          </tr>
        </thead>
      
        <tbody>
          <tr>
            <th scope="row" class="avalanche-alp">Alpine</th>
            <td style="<%= avalanche_background_color(@avalanche.danger_ratings[day]["dangerRating"]["alp"].first) %>" >
              <%= @avalanche.danger_ratings[day]["dangerRating"]["alp"].gsub(/:/, " - ") %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="avalanche-tln">Treeline</th>
            <td style="<%= avalanche_background_color(@avalanche.danger_ratings[day]["dangerRating"]["tln"].first) %>" >
              <%= @avalanche.danger_ratings[day]["dangerRating"]["tln"].gsub(/:/, " - ") %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="avalanche-btl">Below Treeline</th>
            <td style="<%= avalanche_background_color(@avalanche.danger_ratings[day]["dangerRating"]["btl"].first) %>">
              <%= @avalanche.danger_ratings[day]["dangerRating"]["btl"].gsub(/:/, " - ") %>
            </td>
          </tr>
        </tbody>
      <% end %>
      
    </table>
  </div>

  <div class="row">
    <img src="/assets/general_icons/external_link.png" class="external-link">
    <%= link_to " Full Avalanche Canada Forecast", "https://www.avalanche.ca/forecasts/sea-to-sky", target: :_blank %>
  </div>
</div>