<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center m-3 text-center">
      <h2>Avalanche Canada Sea To Sky Forecast</h2>
    </div>
  </div>

  <div class="row p-3 justify-content-between align-items-center">
    <div class="col-lg-3 border border-dark rounded avalanche-image">
      <img src="/assets/general_icons/avalanche.svg" alt="avalanche icon" class="avalanche-image h-100 img-fluid mx-auto d-block">
    </div>
    <div class="col-md-12 col-lg-8">

      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <td class="font-weight-bold text-right">Issued:</td>
            <td><%= @avalanche.date_issued.strftime("%B %d, %Y") %></td>
          </tr>
          <tr>
            <td class="font-weight-bold text-right text-nowrap">Valid Until:</td>
            <td><%= @avalanche.valid_until.strftime("%B %d, %Y") %></td>
          </tr>
          <tr>
            <td class="font-weight-bold text-right">Highlights:</td>
            <td class="avalanche-canada-html"><%= @avalanche.highlights.html_safe %></td>
          </tr>
          <tr>
            <td class="font-weight-bold text-center report-confidence-break">Report Confidence:</td>
            <td class="align-middle avalanche-canada-html""><%= @avalanche.confidence.chomp(" - ") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row pt-3 pl-3 pr-3 pb-1">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class="avalanche-th" colspan="2">
            Danger Ratings:
          </th>
        </tr>
      </thead>

      <% 3.times do |day| %>
        <tr>
          <th scope="col" class="avalanche-th" colspan="2">
            <%= string_to_date(@avalanche.danger_ratings[day]["date"]) %>
          </th>
        </tr>      
        <tbody>
          <tr>
            <th scope="row" class="avalanche-alp">Alpine</th>
            <td style="<%= avalanche_background_color(@avalanche.danger_ratings[day]["dangerRating"]["alp"].first) %>" >
              <%= @avalanche.danger_ratings[day]["dangerRating"]["alp"].gsub(/:/, " - ") %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="avalanche-tln">Treeline</th>
            <td style="<%= avalanche_background_color(@avalanche.danger_ratings[day]["dangerRating"]["tln"].first) %>" >
              <%= @avalanche.danger_ratings[day]["dangerRating"]["tln"].gsub(/:/, " - ") %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="avalanche-btl">Below Treeline</th>
            <td style="<%= avalanche_background_color(@avalanche.danger_ratings[day]["dangerRating"]["btl"].first) %>">
              <%= @avalanche.danger_ratings[day]["dangerRating"]["btl"].gsub(/:/, " - ") %>
            </td>
          </tr>
        </tbody>
      <% end %>
      
    </table>
  </div>

  <div class="row align-items-center justify-content-center pb-3">
    <img src="/assets/general_icons/external_link.svg" class="external-link img-fluid mr-2">
    <span class="external-link-span">
      <%= link_to "Avalanche Canada Forecast", "https://www.avalanche.ca/forecasts/sea-to-sky", target: :_blank %>
    </span>
  </div>
</div>