<div class="container mt-2 lift-show">

  <div class="row p-3 justify-content-between">
    <div class="col-4 border border-dark rounded lift-image">
      <img src="<%= retrieve_lift_image(lift.lift_type) %>" class="lift-image h-100 img-fluid mx-auto d-block">
    </div>
    <div class="col-8">
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <td class="font-weight-bold">Lift Capacity:</td>
            <td><%= lift.capacity %> people</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Upload Capacity:</td>
            <td><%= lift.capacity_hr %> people/hr.</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Time to Ride:</td>
            <td><%= lift.time_to_ride %> min.</td>
          </tr>
          <tr class="toggle-unit no-show">
            <td class="font-weight-bold">Lift Base Elevation:</td>
            <td><%= lift.elevation_i %> ft.</td>
          </tr>
          <tr class="toggle-unit show">
            <td class="font-weight-bold">Lift Base Elevation:</td>
            <td><%= lift.elevation_m %> m.</td>
          </tr>
          <tr class="toggle-unit no-show">
            <td class="font-weight-bold">Vertical:</td>
            <td><%= lift.vertical_i %> ft.</td>
          </tr>
          <tr class="toggle-unit show">
            <td class="font-weight-bold">Vertical:</td>
            <td><%= lift.vertical_m %> m.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row p-3">
    <table class="table table-sm table-borderless mb-0">
      <thead>
        <tr>
          <th scope="col" colspan="2" class="status-th border-bottom ">
            New Snow:
          </th>
        </tr>
        <tr>
          <td scope="col" colspan="2" class="status-bg">
            <div class="row justify-content-around">
            <span class="toggle-unit no-show">
              <strong>24 Hours:</strong> <%= @weather.new_snow_i %> in. 
            </span>
            <span class="toggle-unit no-show">
              <strong>48 Hours:</strong> <%= @weather.two_days_i %> in.
            </span>
            <span class="toggle-unit no-show">
              <strong>Past Week:</strong> <%= @weather.seven_days_i %> in.
            </span>
            <span class="toggle-unit show">
              <strong>24 Hours:</strong> <%= (@weather.new_snow_i.to_i * 2.5).to_s %> cm. 
            </span>
            <span class="toggle-unit show">
              <strong>48 Hours:</strong> <%= (@weather.two_days_i.to_i * 2.5).to_s %> cm.
            </span>
            <span class="toggle-unit show">
              <strong>Past Week:</strong> <%= (@weather.seven_days_i.to_i * 2.5) %> cm.
            </span>
            </div>
          </td>
        </tr>
      </thead>
      
      <thead>
        <tr>
          <th scope="col" colspan="2" class="status-th border-bottom">
            Lift History:
          </th>
        </tr>
      </thead>

      <% 6.times do |day| %>
        <tbody>
          <tr>
            <th scope="row" class="status-bg border-bottom">
              <%= (Date.today - day + 1).strftime("%B %d, %Y") %>
            </th>

            <% if @history.where(["created_at::date = ? and lift_code = ? and status = ?", (Date.today-day+1), lift.lift_code, "O"]) != [] %>
              <td scope="col" colspan="2" class="status-open border-bottom">
                Opened at <%= @history.where(["created_at::date = ? and lift_code = ? and status = ?", (Date.today-day+1), lift.lift_code, "O"]).first.created_at.strftime("%l:%M %p") %>
              </td>
            <% else %>
              <td scope="col" colspan="2" class="status-closed border-bottom">
                Chair Closed
              </td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
      
    </table>
  </div>
</div>