<div class="container">
  <div class="row justify-content-around">
    <% 6.times do |day| %>
      <div class="col-3 m-4">
        <div class="row font-weight-bold justify-content-center mb-1">
          <%= @weather.forecast[day]["dayDescription"] %>
        </div>
        <div class="col border border-dark rounded weather-image mb-1">
          <img src="<%= retrieve_weather_image(@weather.forecast[day]["iconName"]) %>" class="weather-image h-90 img-fluid mx-auto d-block p-3">
        </div>
        <div class="col">
          <div class="row">
            Description: <%= @weather.forecast[day]["summaryDescription"] %>
          </div>
          <div class="toggle-unit no-show row">
            High: <%= @weather.forecast[day]["temperatureHigh"] %> 째F
          </div>
          <div class="toggle-unit no-show row">
            Low: <%= @weather.forecast[day]["temperatureLow"] %> 째F
          </div>
          <div class="toggle-unit show row">
            High: <%= ((@weather.forecast[day]["temperatureHigh"].to_i - 32) * 5/9) %> 째C
          </div>
          <div class="toggle-unit show row">
            Low: <%= ((@weather.forecast[day]["temperatureLow"].to_i - 32) * 5/9) %> 째C
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row align-items-center justify-content-center pb-3">
    <img src="/assets/general_icons/external_link.svg" class="external-link img-fluid mr-2">
    <%= link_to "Full Resort Forecast", "https://www.whistlerblackcomb.com/the-mountain/mountain-conditions/snow-and-weather-report.aspx", target: :_blank %>
    <span class="mx-2">|</span>
    <img src="/assets/general_icons/external_link.svg" class="external-link img-fluid mr-2">
    <%= link_to "Environment Canada Forecast", "https://weather.gc.ca/city/pages/bc-86_metric_e.html", target: :_blank %>
  </div>
</div>
