<div class="container">
  <div class="row justify-content-around">
    <% 6.times do |day| %>
      <div class="col-xs-6 col-sm-4 col-xl-3 m-4">
        <div class="row font-weight-bold justify-content-center mb-1">
          <%= @weather.forecast[day]["dayDescription"] %>
        </div>
        <div class="col border border-dark rounded weather-image mx-auto mb-1">
          <%= image_tag("#{retrieve_weather_image(@weather.forecast[day]["iconName"])}", class: "weather-image h-90 img-fluid mx-auto d-block p-3") %>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <strong class="w-100 text-center">Description</strong>
            <span class="text-center">
              <%= @weather.forecast[day]["summaryDescription"] %>
            </span>
          </div>
          <div class="toggle-unit no-show row justify-content-around">
            <span>
              <strong>High:</strong> <%= @weather.forecast[day]["temperatureHigh"] %> 째F
            </span>
            <span>
              <strong>Low:</strong> <%= @weather.forecast[day]["temperatureLow"] %> 째F
            </span>
          </div>
          <div class="toggle-unit show row justify-content-around">
            <span>
              <strong>High:</strong> <%= ((@weather.forecast[day]["temperatureHigh"].to_i - 32) * 5/9) %> 째C
            </span>
            <span>
              <strong>Low:</strong> <%= ((@weather.forecast[day]["temperatureLow"].to_i - 32) * 5/9) %> 째C
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center pb-3">
    <span class="w-100 text-center align-middle">
      <%= image_tag("general_icons/external_link.svg", class: "external-link img-fluid mr-1") %>
      <span class="external-link-span">
        <%= link_to "Resort Weather Forecast", "https://www.whistlerblackcomb.com/the-mountain/mountain-conditions/snow-and-weather-report.aspx", target: :_blank, class: "pb-1" %>
      </span>
    </span>
    <span class="w-100 text-center align-middle">
        <%= image_tag("general_icons/external_link.svg", class: "external-link img-fluid mr-1") %>
      <span class="external-link-span">
        <%= link_to "Environment Canada Weather Forecast", "https://weather.gc.ca/city/pages/bc-86_metric_e.html", target: :_blank, class: "pb-1" %>
      </span>
    </span>
  </div>
</div>
