<div class="panel-group" id="accordion-whistler-all" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-whistler-all">
      <h4 class="panel-title">
        <a class="pl-3" role="button" data-toggle="collapse" data-parent="#accordion-whistler-all" href="#collapse-whistler-all" aria-expanded="true" aria-controls="collapse-whistler-all">
          Whistler Mountain
        </a>
      </h4>
    </div>
    <div id="collapse-whistler-all" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading-whistler-all">
      <div class="panel-body">
        <div class="panel-group" id="accordion-whistler-lifts-all" role="tablist" aria-multiselectable="true">
          <!-- Render a panel for each whistler list -->
          <% @whistler_lifts.each do |lift| %>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-<%= lift.lift_code %>-all">
                <div class="row">
                  <div class="col-8 lift-col mt-1">
                    <h5 class="panel-title">
                      <a class="pl-4" role="button" data-toggle="collapse" data-parent="#accordion-whistler-lifts-all" href="#collapse-<%= lift.lift_code %>-all" aria-expanded="false" aria-controls="collapse-<%= lift.lift_code %>-all">
                        <%= lift.name %>
                      </a>
                    </h5>
                  </div>
                  <div class="col-4 lift-col">
                    <img src="<%= retrieve_lift_status(lift) %>" alt="lift status" class="lift-status">
                    <%= link_to favorite_lift_path(lift.lift_code), class: "favorite-btn", method: :put, remote: :true do %>
                      <img src="assets/general_icons/favorite_null.svg" class="favorite-icon">
                    <% end %>
                    <%= link_to alert_lift_path(lift), class: "favorite-btn", method: :put, remote: :true do %>
                      <img src="assets/general_icons/alert_null.svg" class="alert-icon">
                    <% end %>
                  </div>  
                </div>
              </div>
              <div id="collapse-<%= lift.lift_code %>-all" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= lift.lift_code %>-all">
                <div class="panel-body">
                  <%= render partial: "lifts/lift_show", locals: {lift: lift} %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>