<div class="panel-group lift-list" id="accordion-whistler-all" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading p-1" role="tab" id="heading-whistler-all">
      <h4 class="panel-title my-auto">
        <a class="pl-3" role="button" data-toggle="collapse" data-parent="#accordion-whistler-all" href="#collapse-whistler-all" aria-expanded="true" aria-controls="collapse-whistler-all">
          Whistler Mountain
        </a>
      </h4>
    </div>
    <div id="collapse-whistler-all" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading-whistler-all">
      <div class="panel-body">
        <div class="panel-group" id="accordion-whistler-lifts-all" role="tablist" aria-multiselectable="true">
          <!-- Render a panel for each whistler list -->
          <% @whistler_lifts.each do |lift| %>
            <div class="panel panel-default p-1 border-top">
              <div class="panel-heading" role="tab" id="heading-<%= lift.lift_code %>-all">
                <div class="row">
                  <div class="col-8 lift-col my-auto">
                    <h5 class="panel-title">
                      <a class="pl-4 lift-panel-heading text-nowrap" role="button" data-toggle="collapse" data-parent="#accordion-whistler-lifts-all" href="#collapse-<%= lift.lift_code %>-all" aria-expanded="false" aria-controls="collapse-<%= lift.lift_code %>-all">
                        <%= lift.name %>
                      </a>
                    </h5>
                  </div>
                  <div class="col-xs-12 col-sm-4 lift-col-right d-flex pr-5 justify-content-end">
                    
                    <%= image_tag("#{retrieve_lift_status(lift)}", class: "lift-status img-fluid border rounded mr-2") %>
                    <% if user_signed_in? %>
                      <% if favorite_exists(lift.id, current_user.id) %>
                        <%= link_to favorite_lift_path(lift), class: "btn btn-warning favorite mr-2 pt-2", method: :put, remote: :true do %>
                          <%= image_tag("general_icons/favorite_null.svg", class: "favorite-icon img-fluid") %>
                        <% end %>
                      <% else %>
                        <%= link_to favorite_lift_path(lift), class: "btn btn-warning no-favorite mr-2 pt-2", method: :put, remote: :true do %>
                          <%= image_tag("general_icons/favorite_null.svg", class: "favorite-icon img-fluid") %>
                        <% end %>
                      <% end %>
                      
                      <% if alert_exists(lift.id, current_user.id) %>
                        <%= link_to alert_lift_path(lift), class: "btn btn-danger alerted pt-2", method: :put, remote: :true do %>
                          <%= image_tag("general_icons/alert_null.svg", class: "alert-icon img-fluid") %>
                        <% end %>
                      <% else %>
                        <%= link_to alert_lift_path(lift), class: "btn btn-danger no-alert pt-2", method: :put, remote: :true do %>
                          <%= image_tag("general_icons/alert_null.svg", class: "alert-icon img-fluid") %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <span class="d-inline-flex mr-2 span-height" tabindex="0" data-toggle="tooltip" title="Sign in to create a favorite!">
                        <a href="#" class="btn btn-outline-warning disabled no-favorite pt-2">
                          <%= image_tag("general_icons/favorite_null.svg", class: "favorite-icon img-fluid") %>
                        </a>
                      </span>
                      <span class="d-inline-flex span-height" tabindex="0" data-toggle="tooltip" title="Sign in to set an SMS alert!">
                        <a href="#" class="btn btn-outline-danger disabled pt-2">
                          <%= image_tag("general_icons/alert_null.svg", class: "alert-icon img-fluid") %>
                        </a>
                      </span>
                    <% end %>

                  </div>  
                </div>
              </div>
              <div id="collapse-<%= lift.lift_code %>-all" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= lift.lift_code %>-all">
                <div class="panel-body">
                  <%= render partial: "lifts/lift_show", locals: {lift: lift} %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>