<div class="panel-group" id="accordion-whistler-all" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-whistler-all">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion-whistler-all" href="#collapse-whistler-all" aria-expanded="true" aria-controls="collapse-whistler-all">
          Whistler Mountain
        </a>
      </h4>
    </div>
    <div id="collapse-whistler-all" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading-whistler-all">
      <div class="panel-body">
        <div class="panel-group" id="accordion-whistler-lifts-all" role="tablist" aria-multiselectable="true">
          <!-- Render a panel for each whistler list -->
          <% @whistler_lifts.each do |lift| %>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-<%= lift.lift_code %>-all">
                <h5 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion-whistler-lifts-all" href="#collapse-<%= lift.lift_code %>-all" aria-expanded="true" aria-controls="collapse-<%= lift.lift_code %>-all">
                    <%= lift.name %>
                  </a>
                  <span>
                    <%= lift.lift_code %>
                    <%= retrieve_lift_status(lift) %>
                  </span>
                </h5>
              </div>
              <div id="collapse-<%= lift.lift_code %>-all" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= lift.lift_code %>-all">
                <div class="panel-body">
                  Add panel with lift#show here!
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>