<div>
  <nav class="mt-2">
    
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-all-content-tab" data-toggle="tab" href="#all-content" role="tab" aria-controls="nav-home" aria-selected="true">All Content</a>
      <% if user_signed_in? %>
        <a class="nav-item nav-link" id="nav-favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false">My Lifts</a>
      <% else %>
        <a class="nav-item nav-link disabled" id="nav-favorites-tab-disabled" data-toggle="tab" href="#" role="tab" aria-controls="no-user" aria-selected="false">My Lifts</a>
      <% end %>
      <span class="icon-legend d-flex pt-2 ml-auto align-middle">
        <span class="h-100">
          Closed <%= image_tag("status_icons/closed.svg", class: "lift-legend pb-1") %> |
        </span>
        <span class="h-100 mx-3">
          Hold <%= image_tag("status_icons/hold.svg", class: "lift-legend pb-1") %> | 
        </span>
        <span class="h-100 mr-3">
          Open <%= image_tag("status_icons/open.svg", class: "lift-legend pb-1") %>
        </span>
      </span>
    </div>
</nav>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- #all-content tab -->
    <div role="tabpanel" class="tab-pane fade show active" id="all-content">
      
      <!-- Collapse panels -->
      <div class="panel-group mb-3" id="accordion-all" role="tablist" aria-multiselectable="true">

        <!-- Lifts panel -->
        <div class="panel panel-default border">
          <div class="panel-heading border-bottom p-1" role="tab" id="heading-lifts-all">
            <h2 class="panel-title my-auto">
              <a role="button" data-toggle="collapse" data-parent="#accordion-all" href="#collapse-lifts-all" aria-expanded="true" aria-controls="collapse-lifts-all">
                Lifts
              </a>
            </h2>
          </div>
          <div id="collapse-lifts-all" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading-lifts-all">
            <div class="row">
              <div class="col-xl-6 col-lg-12">
                <%# Render all Blackcomb lifts %>
                <%= render "blackcomb_lift_status" %>
              </div>
              <div class="col-xl-6 col-lg-12">
                <%# Render all Whistler lifts %>
                <%= render "whistler_lift_status" %>
              </div>
            </div>
          </div>
        </div>

        <!-- Cams panel -->
        <div class="panel panel-default border">
          <div class="panel-heading border-bottom p-1" role="tab" id="heading-cams-all">
            <h2 class="panel-title my-auto">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-all" href="#collapse-cams-all" aria-expanded="false" aria-controls="collapse-cams-all" id="link-cams-all">
                Live Cams
              </a>
            </h2>
          </div>
          <div id="collapse-cams-all" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-cams-all">
            <div class="panel-body" class="webcam-div">
              <div id="webcam-load" class="load-complete">
                <%= image_tag("general_icons/loading.svg") %>
              </div>
              <div id="load-cams-here">
              </div>
            </div>
          </div>
        </div>

        <!-- Weather Forecast panel -->
        <div class="panel panel-default border">
          <div class="panel-heading border-bottom p-1" role="tab" id="heading-weather">
            <h2 class="panel-title my-auto">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-all" href="#collapse-weather" aria-expanded="false" aria-controls="collapse-weather">
                Weather Summary
              </a>
            </h2>
          </div>
          <div id="collapse-weather" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-weather">
            <div class="panel-body">
              <%= render "weather_forecast" %>
            </div>
          </div>
        </div>

        <!-- Avalanche Forecast panel -->
        <div class="panel panel-default border">
          <div class="panel-heading p-1" role="tab" id="heading-avalanche">
            <h2 class="panel-title my-auto">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-all" href="#collapse-avalanche" aria-expanded="false" aria-controls="collapse-avalanche">
                Avalanche Forecast
              </a>
            </h2>
          </div>
          <div id="collapse-avalanche" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-avalanche">
            <div class="panel-body">
              <%= render "avalanche_forecast" %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- #favorites tab -->
    <div role="tabpanel" class="tab-pane fade" id="favorites">

      <div id="favorites-tab">
        <% if @favorites != [] || @alerts != [] %>
          <!-- Collapse panel -->
          <div class="panel-group mb-3" id="accordion-all" role="tablist" aria-multiselectable="true">

            <!-- Favorite Lifts panel -->
            <div class="panel panel-default border">
              <div class="panel-heading border-bottom p-1" role="tab" id="heading-lifts-favorites">
                <h2 class="panel-title my-auto">
                  <a role="button" data-toggle="collapse" data-parent="#accordion-all" href="#collapse-lifts-favorites" aria-expanded="true" aria-controls="collapse-lifts-favorites">
                    My Lifts
                  </a>
                </h2>
              </div>
              <div id="collapse-lifts-favorites" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading-lifts-favorites">
                <div class="row">
                  <div class="col-xl-6 col-lg-12">
                    <%# Render all Blackcomb lifts %>
                    <%= render "blackcomb_favorites" %>
                  </div>
                  <div class="col-xl-6 col-lg-12">
                    <%# Render all Whistler lifts %>
                    <%= render "whistler_favorites" %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        <% else %>
          <div class="container-fluid p-4 mb-3 border" id="no-user-favorites">
            <h3>
              You haven't created any favorites or alerts yet! <br><br>
              Press the star button to add or remove a favorite:  
              <a href="#" class="btn btn-lg btn-warning no-favorite ml-2">
                <%= image_tag("general_icons/favorite_null.svg", class: "favorite-icon img-fluid") %>
              </a>
              <br><br>
              Press the bell button to add or remove a text message alert:
              <a href="#" class="btn btn-lg btn-danger no-alert ml-2">
                <%= image_tag("general_icons/alert_null.svg", class: "favorite-icon img-fluid") %>
              </a>
            </h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
