<!DOCTYPE html>
<html>
  <head>
    <title>LiveLiftInfo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light px-4">
      <a class="navbar-brand" href="/">LiveLiftInfo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a href="#" id="toggle-units" class="align-middle nav-item nav-link active">Toggle Units (°C / °F)</a>
          <% if !user_signed_in? %>
            <a class="nav-item nav-link active" href="/users/sign_in">Sign In</a>
            <a class="nav-item nav-link active" href="/users/sign_up">Sign Up</a> 
          <% else %>
            <a class="nav-item nav-link active" href="/users/edit" id="edit-profile">Edit Profile</a>
            <%= link_to("Sign Out", destroy_user_session_path, class: "nav-item nav-link active", method: :delete) %>
          <% end %>
        </div>
      </div>
    </nav>

    <main class="container-fluid">
    
      <%= render 'layouts/messages' %>

      <%= yield %>

    </main>

  </body>
</html>
